.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color:#fafafa;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.header_left {
    display: flex;
    align-items: center;
}
.header_input {
    display: flex;
    align-items: center;
    width:40%;
    border:1px solid lightgray;
}
.header_inputbutton {
    width:50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}
.input_box {
    width:100%;
    border: none;
}
.input_box :focus {
    border:none;
    outline: none;
}
.header_icon {
    margin-right: 14px;
    font-size: 2rem !important;
}

.header_icons {
    display: flex;
    align-items: center;
}
.avatar_icon {
    border-radius: 50%;
    width: 17%;
}
.add_icon {
    color :#ff9248;
}
.dashboard_page {
    display: flex;
}
.sidebar {
    flex: 0.2;
}
.main_documents {
    flex: 0.8;
}
.sidebar_row {
    display: flex;
    align-items: center;
}